.about{
    display: block;
}
.about_wrapper{
    padding-bottom: 14px;
    background-color:#f2f2f2;  
    border-bottom-color: #ffffff;
    color:#666d89;
}
.about_grid{
    padding: 24px 0px;
}
.about_grid_item img{
    width:100%;
}
.about_item_describe{
    box-sizing: border-box;
    width: 100%;
    padding: 16px 0px
}
.about_grid_item{
    display:flex;
    flex-direction: column;
}
@media screen and (min-width:1020px){
    .about_grid_item{
        width: calc(33.3333% - 20px);
        padding: 10px;
    }
}
@media screen and (min-width:768px) and (max-width:1019px){
    .about_grid_item{
        width: calc(33.3333% - 20px);
        padding: 10px;
    }
}
@media screen and (max-width:767px){
    .about_grid_item{
        width: calc(100% - 20px);
        padding: 10px;
    }
}