.wrapper{
    display: block;
    width: 1020px;
    margin: 0 auto; 
    font-family: sans-serif;
}
@font-face {
    font-family: Lato; /* Гарнитура шрифта */
    src: url(assets/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
   }
.header{
    padding:0 40px;
    display:block;
    background-color: #2d303a;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-bottom-color: #323746;
    min-height: 89px;
    color: #ffffff;
    font-family: Lato;
    font-stretch: condensed;
}
.logo{
    float:left;
    margin: 30px 0px;
    font-size: 18pt;
}
.menu{
    float:right;
    font-size: 10pt;
}
.item{
    float:left;
    margin: 42px 0px 36px 20px;
    margin-right: 0px
}
.item:hover{
    color: #f06c64;
}
.panel__item{
    border-style:solid;
    border-width: 0px;
    float:left;
}
.pic-pen{
    background-image: url(assets/pics/pen.png);
}
.pic-bulb{
    background-image: url(assets/pics/bulb.png);
}
.pic-bubble{
    background-image: url(assets/pics/bubble.png);
}
.pic-phone{
    background-image: url(assets/pics/phone.png);
}
.pic-heart{
    background-image: url(assets/pics/heart.png);
}
.pic-star{
    background-image: url(assets/pics/star.png);
}
.panel__item:hover{
    color:#f06c64;
}
.panel__item-ico{
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    border-color: #666d89;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    float:left;
    margin: 10px;
}
.panel__item-text{
    float:left;
    width: 218px;
    margin: 10px;
    font-size: 9pt;
    font-stretch: condensed;
    line-height: 16pt;
    text-align: justify;
}
h2{
    margin: 0px;
    font-size:13pt;
    line-height:13pt;
}
h1{
    margin:0px;
    line-height:28pt;
}
.slyder{
    padding:0 40px;
    display:flex;
    background-color: #f06c64;
    min-height: 593px;
    align-items: center;
    justify-content: space-between;
    width:940px;
    border-bottom-style: solid;
    border-bottom-width: 7px;
    border-bottom-color: #ea676b;
}
.slyder__item{
    display: block;
    float:left;
}
.services{
    padding:0 30px;
    display:block;
    background-color: #f2f2f2;
    min-height: 499px;
    font-family: Lato;
    color: #666d89;
    border-bottom-style: solid;
    border-bottom-width: 7px;
    border-bottom-color: #ffffff;
}
.services_text{
    margin:0px 10px;
    padding:60px 0px 20px 0px;
    line-height:24pt;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}